<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentation</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Side Navigation -->
    <nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
        <a href="index.html" class="w3-bar-item w3-button">Home</a>
        <a href="about.html" class="w3-bar-item w3-button">About</a>
        <a href="presentation.html" class="w3-bar-item w3-button">Presentation</a>
        <button class="w3-bar-item w3-button" id="closeNav">Close <i class="fa fa-remove"></i></button>
    </nav>


    <header class="w3-display-container w3-theme w3-animate-opacity w3-padding-16" id="myHeader">
        <i class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
        <div class="w3-padding-16"></div>
        <div class="w3-center">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRq5ExKFm1Pj9l3Vv06eBuof82RdcpMglTlp003cZdjO48p73zeI4sVu803tarDZaETioH1Z0C6oi8P/embed?start=false&loop=true&delayms=5000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
    </header>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="js/index.js"></script>
    
</body>
</html>